---
import "@styles/global.css";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <head>
    <title>Insure</title>
    <link rel="icon" href="/assets/favicon-32x32.png" />
    <meta name="description" content="Insure is an Insurance company" />
  </head>
  <body class="font-sans-serif scroll-smooth">
    <Nav />
    <main>
      <!-- children will go here -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
